$core: #2dadba
*
    box-sizing: border-box

body,
html
    margin: 0
    padding: 0

body
    font-family: 'Open Sans', 'Times New Roman', Times, serif
    font-weight: 100
    background: #e6e5e5
    color: #1d1d1b

a
    color: $core
    text-decoration: none

header
    background: $core
    width: 100%
    display: flex
    align-items: center
    padding: 20px 20px 20px 40px
    font-size: 120%
    @media (max-width: 769px)
        padding: 20px
        text-align: center
        display: block
    a.logo
        display: inline-block
        max-width: 250px
        width: 100%
        img
            display: inline-block
    aside
        display: inline-block
        width: 100%
        ul,
        li
            margin: 0
            padding: 0
            list-style: 0
            display: inline-block
        nav.social
            @media (max-width: 470px)
                display: none
            ul
                display: flex
                align-items: center
                justify-content: end
                @media (max-width: 769px)
                    justify-content: space-around
                li
                    a
                        color: #fff
                        text-decoration: none
                    &.tel
                        margin-right: 20px
                    &.social
                        margin: 0 5px
                    &.gcc
                        margin-left: 20px
        nav.primary
            margin-top: 20px
            ul
                display: flex
                align-items: center
                justify-content: end
                @media (max-width: 769px)
                    justify-content: space-around
                li
                    margin: 0 0 0 60px
                    @media (max-width: 769px)
                        margin: 0
                    a
                        color: #fff
                        text-decoration: none
                        text-transform: uppercase

h1,
h2,
h3,
h4,
h5,
h6
    margin: 0 0 10px
    padding: 0
    font-size: 100%

h1
    color: #000
    text-transform: uppercase
h2
    color: $core

.wrap
    max-width: 960px
    width: 100%
    margin: 0 auto

.banner
    position: relative
    img
        display: block
        width: 100%
    .text
        position: absolute
        bottom: 0
        left: 0
        right: 0
        text-align: center
        background: rgba(0, 0, 0, .2)
        color: #fff
        font-weight: bold
        font-size: 400%
        padding: 20px 0
        @media (max-width: 769px)
            font-size: 200%



section
    background: #fff
    padding: 30px 40px


    p,
    ul
        margin: 0 0 20px

    ul,
    li
        margin: 0
        padding: 0
    ul:not(.inline_images)
        display: block
        margin-bottom: 10px
        li
            list-style: none
            &::before
                margin: 0 40px
                display: inline-block
                content: ' '
                width: 6px
                height: 6px
                background: $core
                border-radius: 100%

    ul.inline_images
        display: flex
        align-items: center
        justify-content: space-around
        margin-bottom: 10px
        li
            list-style: none
            img
                width: 95%
    .columns
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 20px
        .left
            width: 45%
        .right
            width: 45%
    img.map
        width: 100%

footer
    background: $core
    padding: 20px 0
    text-align: center
    display: none
    @media (max-width: 470px)
        display: block
    nav.social
        ul
            margin: 0
            padding: 0
            li
                list-style: none
                display: inline-block
                padding: 10px 0
                a
                    color: #fff
                &.tel,
                &.gcc
                    width: 100%
                    display: block
