doctype html PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN"
html(lang='en', class='no-js')
    head(prefix='og: http://ogp.me/ns#')
        meta(charset='utf-8')

        title {{page.title | append:' -'}} {{site.title}}

        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='{{site.baseurl}}/assets/css/styles.css')

        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(content='object', property='og:type')

        meta(content='summary', property='twitter:card')
        meta(content='{{site.baseurl | prepend:site.url}}/assets/icons/128.png', property='twitter:image')
        meta(content='{{site.baseurl | prepend:site.url}}', property='twitter:domain')
        meta(content='@{{site.twitter_username}}', name='twitter:site')
        meta(content='{{page.description}}', property='twitter:description')
        meta(content='{{page.title}}', property='twitter:title')

        link(rel='shortcut icon', type='image/png' href='{{site.baseurl | prepend:site.url}}/assets/icons/32.png')

        link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/68.png')
        link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/76.png', sizes='76x76')
        link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/120.png', sizes='120x120')
        link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/152.png', sizes='152x152')
        link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/256.png', sizes='256x256')
        link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/512.png', sizes='512x512')

        meta(content='{{site.baseurl | prepend:site.url}}/assets/icons/64.png', property='og:image')
        meta(content='64', property='og:image:width')
        meta(content='64', property='og:image:height')

        meta(content='{{site.title}}', property='og:site_name')
        meta(content='{{page.description}}', property='og:description')
        meta(content='{{page.title}}', property='og:title')

        meta(content='{{page.description}}', name='description')

        meta(property='og:url', content='{{site.baseurl | prepend:site.url}}')
        link(rel='canonical', href='{{site.baseurl | prepend:site.url}}')

    body
        .wrap
            header
                a.logo(href='{{site.baseurl}}/')
                    img(src='{{site.baseurl}}/assets/images/logo.svg')
                aside
                    nav.social
                        ul
                            | {% if site.facebook_username %}
                            li.social
                                a(href='https://facebook.com/{{site.facebook_username}}')
                                    img(src='{{site.baseurl}}/assets/images/social/facebook.svg', width='35')
                            | {% endif %}
                            | {% if site.twitter_username %}
                            li.social
                                a(href='https://twitter.com/{{site.twitter_username}}')
                                    img(src='{{site.baseurl}}/assets/images/social/twitter.svg', width='35')
                            | {% endif %}
                            | {% if site.instagram_username %}
                            li.social
                                a(href='https://instagram.com/{{site.instagram_username}}')
                                    img(src='{{site.baseurl}}/assets/images/social/instagram.svg', width='35')
                            | {% endif %}
                            | {% if site.linkedin_username %}
                            li.social
                                a(href='https://linkedin.com/{{site.linkedin_username}}')
                                    img(src='{{site.baseurl}}/assets/images/social/linkedin.svg', width='35')
                            | {% endif %}
                            li.gcc
                                img(src='{{site.baseurl}}/assets/images/gcc.png', height='50')
                    nav.primary
                        ul
                            li
                                a(href='{{site.baseurl}}/about/') About us
                            li
                                a(href='{{site.baseurl}}/what-to-expect/') What to expect
                            li
                                a(href='{{site.baseurl}}/contact/') Contact us
            .banner
                picture
                    source(srcset='{{site.baseurl}}/assets/images/stock/96_55/960/{{page.banner.image}}.webp', type='image/webp')
                    source(srcset='{{site.baseurl}}/assets/images/stock/96_55/960/{{page.banner.image}}.jpg', type='image/jpeg')
                    img(src='{{site.baseurl}}/assets/images/stock/96_55/960/{{page.banner.image}}.jpg')
                .text {{page.banner.text}}
            section
                | {{content}}
            
            footer
                nav.social
                    ul
                        | {% if site.facebook_username %}
                        li.social
                            a(href='https://facebook.com/{{site.facebook_username}}')
                                img(src='{{site.baseurl}}/assets/images/social/facebook.svg', width='35')
                        | {% endif %}
                        | {% if site.twitter_username %}
                        li.social
                            a(href='https://twitter.com/{{site.twitter_username}}')
                                img(src='{{site.baseurl}}/assets/images/social/twitter.svg', width='35')
                        | {% endif %}
                        | {% if site.instagram_username %}
                        li.social
                            a(href='https://instagram.com/{{site.instagram_username}}')
                                img(src='{{site.baseurl}}/assets/images/social/instagram.svg', width='35')
                        | {% endif %}
                        | {% if site.linkedin_username %}
                        li.social
                            a(href='https://linkedin.com/{{site.linkedin_username}}')
                                img(src='{{site.baseurl}}/assets/images/social/linkedin.svg', width='35')
                        | {% endif %}
                        li.gcc
                            img(src='{{site.baseurl}}/assets/images/gcc.png', height='50')
                